.google-map-api {
    h1 {
        text-align: center;
        color: #29c58d;
        padding-bottom: 20px;
    }
    .vue-map-container {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }
    ol {
        li:hover {
            color: #29c58d;
        }
    }
}